<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>lightningfield_00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 26}, {250, 248}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{250, 248}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {250, 248}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lightningfield_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 24}, {252, 252}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{252, 252}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 0}, {252, 252}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lightningfield_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 22}, {258, 256}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{258, 256}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{506, 0}, {258, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lightningfield_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 20}, {262, 260}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{262, 260}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 258}, {262, 260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lightningfield_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 22}, {256, 256}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{256, 256}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 258}, {256, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lightningfield_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 21}, {260, 258}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{260, 258}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{522, 258}, {260, 258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lightningfield_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 21}, {260, 258}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{260, 258}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 520}, {260, 258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lightningfield_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 25}, {250, 250}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{250, 250}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{262, 520}, {250, 250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lightningfield_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{105, 51}, {114, 170}}</string>
			<key>spriteOffset</key>
			<string>{12, 14}</string>
			<key>spriteSize</key>
			<string>{114, 170}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{514, 520}, {114, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lightningfield_09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{131, 58}, {82, 156}}</string>
			<key>spriteOffset</key>
			<string>{22, 14}</string>
			<key>spriteSize</key>
			<string>{82, 156}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{630, 520}, {82, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lightningfield_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{131, 64}, {82, 104}}</string>
			<key>spriteOffset</key>
			<string>{22, 34}</string>
			<key>spriteSize</key>
			<string>{82, 104}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{714, 520}, {82, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5 GM</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>